name: Build and Test in Staging

on:
  push:
    branches: [ "staging" ]

jobs:
  build-test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build the project
      run: dotnet build --no-restore
    - name: Start Unit Tests
      run: dotnet test --no-build --verbosity normal